{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" href="/css/a.css">
<title>すごいECサイト</title>
</head>
<body>
  <p>Hi!</p>
</body>
</html>
{{ end }}
